/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart-scale-up {
    from {
        scale: 1;
    }
    to {
        scale: 1.25;
    }
}

@keyframes sparks-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Переход в исходное состояние */
.like-icon .core {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
}

.like-icon .contour {
    fill: var(--heart-contour-color);
    transition: fill 0.1s linear;
}

.like-icon .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.like-icon .sparks {
    opacity: 0;
    fill: var(--heart-sparks-color);
}

/* hover состояния */
.like-icon:hover .core {
    fill: var(--heart-contour-color);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--heart-contour-color);
    transition: fill 0.3s linear 0.05s;
}

/* active состояние */
.like-icon:active .core {
    fill: var(--heart-sparks-color);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--heart-sparks-color);
    transition: fill 0.3s linear 0.05s;
}

/* Лайкнутое состояние (при добавлении класса is-liked) */
.like-icon.is-liked .core {
    fill: var(--heart-sparks-color);
    transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .main-body {
    fill: var(--heart-sparks-color);
    transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
    fill: var(--heart-sparks-color);
    transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
    animation: heart-scale-up 0.3s ease-in 0.1s 1 alternate;
    transform-origin: center;
}

.like-icon.is-liked .sparks {
    animation: sparks-appear 0.3s ease-in 0.3s 1 alternate;
}
