button {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}

/* Основной фон и шрифты */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: var(--main-font);
  font-weight: var(--text-weight);
  font-size: var(--font-size);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--text-weight);
  padding-bottom: 100px;
  overflow-x: hidden;
}

/* Хедер */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: var(--page-width);
  margin-top: 100px;
  margin-bottom: 98px;
  padding: 132px 0;
  outline: 2px solid var(--color);
  outline-offset: -2px; /* Втягивает линию внутрь блока */
  background-color: var(--background-color);
  font-family: var(--accent-font);
}

.header_title {
  font-size: var(--header-title-font-size);
  text-transform: uppercase;
  line-height: 1;
}

.header_subtitle {
  font-size: var(--header-subtitle-font-size);
  text-transform: uppercase;
}

/* Контент */
.card_list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: var(--card-list-width);
  list-style: none;
  padding: 0;
}

.article {
  outline: 2px solid var(--color);
  outline-offset: -2px; /* Втягивает линию внутрь блока */
  background-color: var(--background-color);
}

.article_title {
  padding: 6px 10px;
  color: var(--color);
  font-family: var(--main-font);
  font-weight: var(--title-weight);
  font-size: 18px;
  background-color: var(--background-color);
  font-variation-settings: "wght" var(--title-weight);
  line-height: 1.1;
  height: auto;
  display: block;
}

.article_info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 27px;
}

.article_text {
  line-height: 21px;
  word-wrap: break-word;
}

.article_image {
  position: relative;
  display: block;
  outline-offset: -2px; /* Втягивает линию внутрь изображения */
  border: 2px solid var(--color)
}

.article_image img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  outline: 2px solid var(--color);
  outline-offset: -2px; /* Втягивает линию внутрь блока */
}

/* Фильтры изображений */
.image-grayscale { filter: grayscale(0.75); }
.image-saturate { filter: saturate(288%); }
.image-hue-rotate { filter: hue-rotate(28deg); }
.image-invert { filter: invert(0.75); }
.image-blur { filter: blur(7px); }
.image-fiter-mix { filter: hue-rotate(90deg) opacity(0.7) blur(1.4px); }

.card_label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 1;
  font-family: var(--accent-font);
  font-size: var(--font-size-card-label);
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--shadow-color);
  mix-blend-mode: hard-light;
}

.button_block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

/* ОБЩИЙ КЛАСС КНОПОК */
.decorated_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color);
  background-color: var(--background-color);
  font-family: var(--accent-font);
  color: var(--button-text-color);
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.decorated_button:focus { outline: none; }

.decorated_button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.decorated_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.decorated_button:hover::before { transform: translateX(0); }

.button__text {
  position: relative;
  z-index: 1;
  font-size: var(--button-font-size);
  mix-blend-mode: difference;
}

/* УНИКАЛЬНЫЕ СТИЛИ */
.card__like-button {
  width: 130px;
  height: 38px;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--color);
}

.save_button {
  width: 335px;
  min-height: 55px;
  gap: 8px;
}

.dialog_button {
  width: 100%;
  height: 38px;
  text-transform: uppercase;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}

.card__icon-button:focus { outline: none; }

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.floppy_svg {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  fill: currentColor;
}

.save_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Диалог */
.floppy_dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 1000;
  display: none;
  flex-direction: column;
  gap: 31px;
  width: 353px;
  border: 2px solid var(--color);
  padding: 30px;
  background-color: var(--background-color);
}

.floppy_dialog[open] { display: flex; }

.floppy_dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog_description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog_floppy_svg {
  flex-shrink: 0;
  width: 39px;
  height: 39px;

}

.dialog_label {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

/* Адаптив */
@media (width <= 375px) {
  .header {
    width: 100%; /* Убираем calc, так как outline-offset всё исправил */
    padding: 124px 0;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .card_list {
    width: 100%;
    padding:50px 0;
  }

  .article_info {
    padding: 25px;
  }

  
  .article_title {
    padding: 6px 10px;
  }
  
  .article_info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 27px;
  }

  .save_container {
    display: flex;
    justify-content: center;
    margin-top:0;
  }

  .save_button {
    flex-direction: column;
    width: 310px; 
    height: 84px;
  }

  .floppy_svg {
    width: 28px;
    height: 28px;
  }
}