/* Основной фон и шрифты */
.page {
  font-family: var(--main-font);
  font-weight: var(--text-weight);
  font-variation-settings: "wght" var(--text-weight);
  font-size: var(--font-size);

  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Хедер */
.header {
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  outline: 2px solid var(--color);
  background-color: var(--background-color);
  padding: 130px 0;
  margin-top: 100px;
  margin-bottom: 98px;
  width: var(--page-width);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.header_title {
  font-size: var(--header-title-font-size);
  text-transform: uppercase;
}

.header_subtitle {
  font-size: var(--header-subtitle-font-size);
  text-transform: uppercase;
}

/* Основной контент */
.card_list {
  display: flex;
  flex-direction: column;
  gap: 51px;
  width: var(--card_list);
}

.article {
  outline: 2px solid var(--color);
  background-color: white;
  margin-bottom: 50px;
}

.article:last-of-type {
  margin-bottom: 0;
}

.article_title {
  padding: 4px 10px;
  color: var(--color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  font-family: var(--main-font);
  font-weight: var(--title-weight);
  font-variation-settings: "wght" var(--title-weight);
}

.article_image {
  position: relative;
  display: block;
}

.article_image img {
  display: block;
  width: 100%;
  height: auto;
}

.card_label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  font-size: var(--font-size-card-label);
  text-shadow: 0 0 1px var(--shadow-color);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.6;
  z-index: 1;
}

.article_info {
  padding: 25px 27px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.article_text {
  font-family: var(--main-font);
  font-weight: var(--text-weight);
  font-variation-settings: "wght" var(--text-weight);
  line-height: 21px;
}

/* Кнопки Like */
.button_block {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.card__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
}

.card__like-button {
  padding: 9px 17px;
  height: 38px;
  width: 130px;
}

/* Общие стили кнопок */
.decorated_button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid var(--color);
  color: white;
  cursor: pointer;
  font-family: var(--accent-font);
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.decorated_button_text {
  font-size: var(--button-font-size);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.decorated_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.decorated_button:focus-visible {
  outline: 2px solid var(--color);
}

.decorated_button:focus {
  outline: none;
  box-shadow: 2px 2px 0 1px var(--color);
}

.decorated_button:hover::before {
  transform: translateX(0);
}

/* Кнопка "Сохранить на память" */
.save_container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.save_button {
  width: 335px;
  min-height: 55px;
  gap: 8px;
  display: flex;
  font-size: var(--font-size);
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.button_content {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.floppy_svg {
  width: 21px;
  height: 21px;
  fill: currentColor;
  position: relative;
  z-index: 1;
  display: flex;
  align-self: center;
  justify-content: center;
  mix-blend-mode: difference;
  transition: transform var(--time-step) ease-in-out;
}

/* Диалог */
.floppy_dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding: 30px;
  width: 353px;
  background-color: var(--background-color);
  border: 2px solid var(--color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1000;
}

.floppy_dialog::backdrop {
  background-color: #00000080;
}

.dialog_description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog_floppy_svg {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}

.dialog_label {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color);
}

.dialog_button {
  width: 100%;
  height: 38px;
}

/* Поддержка text-stroke */
@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))
) {
  .card_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
  }
}

/* Медиа-запрос для мобильных */
@media (width <= 375px) {
  .header {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 120px 0;
    outline: 2px solid var(--color);
    border-left: 2px solid var(--color);
    border-right: 2px solid var(--color);
  }

  .article {
    outline: 2px solid var(--color);
    background-color: white;
    margin-top: 8px;
    margin-bottom: 50px;
    border-left: 2px solid var(--color);
    border-right: 2px solid var(--color);
  }

  .article_info {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .card_list {
    display: flex;
    flex-direction: column;
    gap: 49px;
    width: var(--card_list);
  }

  .save_container {
    margin: 50px 0;
  }

  .save_button {
    width: 306px;
    height: 84px;
    min-height: auto;

    flex-direction: column;
  }

  .button_content {
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  .floppy_svg {
    width: 28px;
    height: 28px;
    margin-top: 8px;
  }
}
